body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  /* display: inline-block; */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  width:65%;
  border-top: 1px solid black;
}

.time-block {
  border-radius: 15px;
  width: 100%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  width:100%;
  text-align: center;

}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 10px;
  width:100px;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #06AED5;
  color: white;
  font-size: 30px;
  width: 75px;
}

.saveBtn:hover {
  background-color: #178bb8;
  transition: all .1s ease-in-out;
}

.saveBtn:active {
  background-color: #05ff0f;
  transition: all 0.1s ease-in-out;
}

#currentDay {
  font-size: xx-large;
}